<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="front_testimonial" frontName="front_testimonial">
            <module name="Webential_Testimonial" />
        </route>
    </router>
</config>
